
     {% include "public/header.html" %}
       <!--banner-->
       <div class="ty-banner">
           <div class="swiper-container">
               <div class="swiper-wrapper">
                   <div class="swiper-slide" style="background: #137cda;">
                       <div class="banner-con">
                       <div class="banner-left">
                           <p style="color:#fff;font-size: 36px;">internet</p>
                           <p style="color:#fff;font-size: 32px;">互联网医院的建设商和提供商</p>
                           <p style="color:#fff;font-size: 32px;">团队就是最好的产品</p>
                       </div>
                       <a class="banner-more" href="" style="color:#fff;display:block;width:160px;height:40px;box-sizing: border-box;border:1px solid #fff;text-align: center;line-height: 37px;font-size: 24px;position:absolute;left:0;bottom:180px;">查看更多</a>
                       <div class="banner-right">
                           <img src="image/computer.png" alt="">
                       </div>
                   </div>
                   </div>
                   <div class="swiper-slide" style="background: red;">Slide 2</div>
                   <div class="swiper-slide" style="background: green;">Slide 3</div>
                   <div class="swiper-slide" style="background: yellow;">Slide 4</div>
               </div>
               <div class="swiper-pagination"></div>
           </div>
       </div>

       <!--middle-->
        <div class="ty-middle">
            <div class="middle-new">
                <div class="middle-title">
                      <h1>NEWS <span style="color:#000000;font-size:32px;font-weight: normal;">CENTER</span></h1>
                </div>
                <div class="middle-center">
                       <div class="middle-line"></div>
                       <p style="width:100px;background: #fff;padding:0px 20px;position:absolute;
left:0;top:0;right:0;bottom:0;margin:auto;">新闻中心</p>
                </div>
                <div class="middle-left">
                    <img src="image/newsimg.png" alt="">
                    <div class="left-bottom">
                         <p style="font-size: 22px;line-height: 40px;">新闻中心的一条新闻简讯</p>
                         <p style="font-size: 16px;line-height:40px;">王雪峰介绍，“互联网+”的本质是使用互联网工具...</p>
                    </div>
                </div>
                <div class="middle-right">
                    <div class="right-title">
                        <div class="title-left">
                            <p style="color:#fff;font-size: 40px;text-align: center;">29</p>
                            <p style="color:#fff;font-weight: normal;">2017-03</p>
                        </div>
                        <div class="title-right">
                            <div class="right-top">
                                <p style="font-size: 22px;">特扬共享互联网医院建设经验</p>
                            </div>
                            <div class="right-bottom">
                                <p style="font-size: 16px;line-height:20px;text-indent:30px;">2017年3月32号，特扬共享互联网医院已经正式启动，杭州市医学会主导的</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-title">
                        <div class="title-left">
                            <p style="color:#fff;font-size: 40px;text-align: center;">29</p>
                            <p style="color:#fff;font-weight: normal;">2017-03</p>
                        </div>
                        <div class="title-right">
                            <div class="right-top">
                                <p style="font-size: 22px;">特扬共享互联网医院建设经验</p>
                            </div>
                            <div class="right-bottom">
                                <p style="font-size: 16px;line-height:20px;text-indent:30px;">2017年3月32号，特扬共享互联网医院已经正式启动，杭州市医学会主导的</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-title">
                        <div class="title-left">
                            <p style="color:#fff;font-size: 40px;text-align: center;">29</p>
                            <p style="color:#fff;font-weight: normal;">2017-03</p>
                        </div>
                        <div class="title-right">
                            <div class="right-top">
                                <p style="font-size: 22px;">特扬共享互联网医院建设经验</p>
                            </div>
                            <div class="right-bottom">
                                <p style="font-size: 16px;line-height:20px;text-indent:30px;">2017年3月32号，特扬共享互联网医院已经正式启动，杭州市医学会主导的</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <!--content-->
       <div class="ty-content">
            <img src="image/zu2bgimg.png" alt="">
            <div class="content-con">
                <div class="content-title">
                  <h1>MEDICAL INTERNAT SOLUTION</h1>
                    <p style="line-height: 40px;">互联网+医疗解决方案</p>
                </div>
                <div class="content-middle">
                    <div class="middle-con">
                        <p>以线下服务为依托，建立互联网+医院，打造覆盖医疗机构、医生、家庭、第三方机构新型医疗服务模式</p>
                    </div>
                </div>
                <div class="content-bottom">
                    <div class="content-left">
                        <div class="content-bgm c1">
                        </div>
                        <br>
                        <p>互联网医院</p>
                        <p>(医院)</p>
                    </div>
                    <div class="content-left">
                        <div class="content-bgs  c3">
                        </div>
                        <br>
                        <p>智慧卫生</p>
                        <p>(卫生局)</p>
                    </div>
                    <div class="content-left">
                        <div class="content-bgd c5">
                        </div>
                        <br>
                        <p>智慧健康</p>
                        <p>(健康机构)</p>
                    </div>
                </div>
                <div class="content-href">
                    <a href="#">    MORE</a>
                </div>
            </div>
        </div>

        <!-- partner-->
        <div class="ty-partner">
            <div class="partner-con">
                <div class="middle-title">
                    <h1>STRATEGIC <span style="color:#000000;font-size:32px;font-weight: normal;">PARTNER</span></h1>
                </div>
                <div class="middle-center">
                    <div class="middle-line"></div>
                    <p style="width:100px;background: #fff;padding:0px 20px;position:absolute;
left:0;top:0;right:0;bottom:0;margin:auto;">战略伙伴</p>
                </div>
                <div class="partner-bottom">
                    <div class="partner-pic">
                        <img src="image/liantong.png" alt="" style="width:70%;">
                    </div>
                    <div class="partner-pic">
                        <img src="image/yidong.png" alt="" style="width:80%;height:80%;margin-top:10px;">
                    </div>
                    <div class="partner-pic">
                        <img src="image/tencent.png" alt="" style="width:100%;height:50%;margin-top:30px;">
                    </div>
                    <div class="partner-pic">
                        <img src="image/baidu.png" alt="">
                    </div>
                    <div class="partner-pic">
                        <img src="image/ali.png" alt="">
                    </div>
                    <div class="partner-pic">
                        <img src="image/sina.png" alt="">
                    </div>
                    <div class="partner-pic">
                        <img src="image/wasu.png" alt="">
                    </div>
                    <div class="partner-pic">
                        <img src="image/jinrongzichan.png" alt="" style="width:100%;height:50%;margin-top:20px;">
                    </div>
                    <div class="partner-pic">
                        <img src="image/zhebao.png" alt="" style="height:70%;margin-top:15px;">
                    </div>
                    <div class="partner-pic">
                        <img src="image/jiankangbao.png" alt="">
                    </div>
                    <div class="partner-pic">
                        <img src="image/zhejiangjiancuhui.png" alt="">
                    </div>
                    <div class="partner-pic">
                        <img src="image/jiancuhui.png" alt="" style="width:80%;">
                    </div>
                    <div class="partner-pic">
                        <img src="image/zhongguojiancuhui.png" alt="">
                    </div>
                    <div class="partner-pic">
                        <img src="image/yishixiehui.png" alt="" style="width:100%;height:70%;margin-top:20px;">
                    </div>
                    <div class="partner-pic">
                        <img src="image/hulianwnagxiehui.png" alt="" style="width:70%;margin-left:20px;">
                    </div>
                </div>
            </div>
        </div>
         <!--footer-->
     {% include "public/footer.html" %}

