{% include "../public/header.html" %}
<script type="text/javascript">
    $(".nav-right li").eq(0).removeClass("coe");
    $(".nav-right li").eq(1).addClass("coe");
</script>
<div class="banners" style="background: url(../image/hand.png);background-position:60%;">
    <a href="#" style="font-weight:bold;display:block;width:200px;height:60px;color:#2B76D0;font-size: 24px;position:absolute;left:277px;top:310px;text-align: center;line-height: 60px;">掌上医院</a>
</div>
<div class="content">
    <div class="cons">
        <div class="left-list">
            <a href="hand.html">掌上医院</a>
            <a href="access.html" style="background: #2B76D0;color:#fff;">患者随访</a>
            <a href="appiont.html">医技预约</a>
            <a href="custom.html">客户关系管理</a>
        </div>
        <div class="right-list">
            <div class="list-top">
                <p style="font-size: 22px;color:#232323;font-weight: bold;line-height: 50px;">患者随访</p>
                <br>
                <p style="font-size: 14px; line-height: 24px;text-indent:30px;">医院随访系统，通过整合医院HIS数据，建立了患者与医院的有效沟通和反馈体系，推动了和谐的医患关系的建立。系统可以让医院随访人员有计划地对出院病人和门诊病人进行随访，了解患者的康复情况；也可以根据防疫和治疗的不同需求，对某些特殊病种病人进行具有针对性的跟踪随访，跟踪出院后的治疗效果，从而加强对病情的控制。
                    相关数据可以为医院各级管理人员提供整体医疗效果信息，为医院持续改进工作质量和科研工作的开展提供重要参考依据和数据支持。</p>
            </div>
            <div class="list-middle">
                <p style="font-size: 16px;color:#232323;font-weight: bold;">业务流程图</p>
                <div class="access-img">
                    <img src="../image/access.png" alt="">
                </div>
            </div>
            <div class="list-power">
                <p style="font-size: 16px;color:#232323;font-weight: bold;">系统功能</p>
                <div class="access-power">
                   <div class="access-con">
                       <p style="font-size: 14px;color:#000000;font-weight: bold;line-height: 50px;">患者档案管理</p>
                       <p style="font-size: 14px;color:#636363;text-indent: 28px;line-height: 24px;">支持从HIS中抽取和相关数据导入
                           支持档案合并，解决患者档案重复问题
                           可浏览患者基本信息、就诊记录、疾病记录、用药记录、检验记录和影像记录</p>
                   </div>
                    <div class="access-con">
                        <p style="font-size: 14px;color:#000000;font-weight: bold;line-height: 50px;">患者档案管理</p>
                        <p style="font-size: 14px;color:#636363;text-indent: 28px;line-height: 24px;">支持从HIS中抽取和相关数据导入
                            支持档案合并，解决患者档案重复问题
                            可浏览患者基本信息、就诊记录、疾病记录、用药记录、检验记录和影像记录</p>
                    </div>
                    <div class="access-con">
                        <p style="font-size: 14px;color:#000000;font-weight: bold;line-height: 50px;">患者档案管理</p>
                        <p style="font-size: 14px;color:#636363;text-indent: 28px;line-height: 24px;">支持从HIS中抽取和相关数据导入
                            支持档案合并，解决患者档案重复问题
                            可浏览患者基本信息、就诊记录、疾病记录、用药记录、检验记录和影像记录</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "../public/footer.html" %}