{% include "../public/header.html" %}
<script type="text/javascript">
    $(".nav-right li").eq(0).removeClass("coe");
    $(".nav-right li").eq(4).addClass("coe");
</script>
<div class="banners" style="background: url(../image/zhaopinbanner.png);background-position:60%;">
</div>
<div class="content" style="height:1000px;">
    <div class="cons">
        <div class="left-list">
            <a href="intro.html" >企业介绍</a>
            <a href="call.html" >联系我们</a>
            <a href="adver.html" style="background: #2B76D0;color:#fff;line-height: 50px;">人才招聘</a>
        </div>
        <div class="right-list" >
            <div class="list-top">
                <p style="font-size: 22px;color:#232323;font-weight: bold;">人才招聘</p>
            </div>
            <br>
            <div class="adver-con">
                 <p style="font-size: 16px;color:#232323;font-weight: bold;">方案咨询部经理</p>
                 <a href="" style="display:block;width:99px;height:30px;border:1px solid #2B76D0;text-align: center;line-height: 30px;color:#000000;position:absolute;right:10px;top:10px;">查看详情</a>
                <span style="position:absolute;left:0;bottom:5px;color:#9C9C9C;">杭州</span>
                <span style="position:absolute;left:80px;bottom:5px;color:#9C9C9C;">本科</span>
            </div>
            <div class="adver-con">
                <p style="font-size: 16px;color:#232323;font-weight: bold;">方案咨询部经理</p>
                <a href="" style="display:block;width:99px;height:30px;border:1px solid #2B76D0;text-align: center;line-height: 30px;color:#000000;position:absolute;right:10px;top:10px;">查看详情</a>
                <span style="position:absolute;left:0;bottom:5px;color:#9C9C9C;">杭州</span>
                <span style="position:absolute;left:80px;bottom:5px;color:#9C9C9C;">本科</span>
            </div>
            <div class="adver-con">
                <p style="font-size: 16px;color:#232323;font-weight: bold;">方案咨询部经理</p>
                <a href="" style="display:block;width:99px;height:30px;border:1px solid #2B76D0;text-align: center;line-height: 30px;color:#000000;position:absolute;right:10px;top:10px;">查看详情</a>
                <span style="position:absolute;left:0;bottom:5px;color:#9C9C9C;">杭州</span>
                <span style="position:absolute;left:80px;bottom:5px;color:#9C9C9C;">本科</span>
            </div>
            <div class="adver-con">
                <p style="font-size: 16px;color:#232323;font-weight: bold;">方案咨询部经理</p>
                <a href="" style="display:block;width:99px;height:30px;border:1px solid #2B76D0;text-align: center;line-height: 30px;color:#000000;position:absolute;right:10px;top:10px;">查看详情</a>
                <span style="position:absolute;left:0;bottom:5px;color:#9C9C9C;">杭州</span>
                <span style="position:absolute;left:80px;bottom:5px;color:#9C9C9C;">本科</span>
            </div>
            <div class="adver-con">
                <p style="font-size: 16px;color:#232323;font-weight: bold;">方案咨询部经理</p>
                <a href="" style="display:block;width:99px;height:30px;border:1px solid #2B76D0;text-align: center;line-height: 30px;color:#000000;position:absolute;right:10px;top:10px;">查看详情</a>
                <span style="position:absolute;left:0;bottom:5px;color:#9C9C9C;">杭州</span>
                <span style="position:absolute;left:80px;bottom:5px;color:#9C9C9C;">本科</span>
            </div>
        </div>
    </div>
</div>
{% include "../public/footer.html" %}