{% include "../public/header.html" %}
<script type="text/javascript">
    $(".nav-right li").eq(0).removeClass("coe");
    $(".nav-right li").eq(4).addClass("coe");
</script>
<div class="banners" style="background: url(../image/lianxiwombanner.png);background-position:60%;">
</div>
<div class="content" style="height:1200px;">
    <div class="cons">
        <div class="left-list">
            <a href="intro.html" >企业介绍</a>
            <a href="call.html" style="background: #2B76D0;color:#fff;">联系我们</a>
            <a href="adver.html" >人才招聘</a>
        </div>
        <div class="right-list" >
            <div class="list-top">
                <p style="font-size: 22px;color:#232323;font-weight: bold;line-height: 50px;">联系我们</p>
            </div>
            <div class="call-address">
                <div class="call-pic">
                    <img src="../image/location.png" alt="">

                    <p>浙江省杭州市江干区凤起东路358号</p>
                    <p>五福天星龙大厦B座</p>
                </div>
                <div class="call-pic">
                    <img src="../image/call.png" alt="">
                    <p>010-2783516      400-2819-900</p>
                </div>
                <div class="call-pic">
                    <img src="../image/message1.png" alt="">
                    <p>hztywl@hztywl.com</p>
                </div>
            </div>
            <div class="call-add">
                <img src="../image/address.png" alt="">
            </div>
            <div class="call-message">
               <div class="message-left">
                   <input type="text" placeholder="NAME">
                   <input type="text" placeholder="EMAIL">
                   <input type="text" placeholder="MOB">
                   <button>提交留言</button>
                   <button>清空</button>
               </div>
                <div class="message-right">
                    <textarea name="" id="" cols="30" rows="10" ></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "../public/footer.html" %}