{% include "../public/header.html" %}
<script type="text/javascript">
    $(".nav-right li").eq(0).removeClass("coe");
    $(".nav-right li").eq(2).addClass("coe");
</script>
<div class="banners">
    <img src="../image/banner1.png" alt="">
    <a href=""><img src="../image/more1.png" alt="" style="position:absolute;left:0;top:365px;right:0;bottom:0;margin:0 auto;width:132px;height:28px;cursor:pointer;"></a>
</div>
<div class="content" style="height:1000px;">
    <div class="cons">
        <div class="left-list">
            <a href="hospital.html" >互联网医院</a>
            <a href="health.html" >智慧健康</a>
            <a href="friendly.html" style="background: #2B76D0;color:#fff;">医患友好</a>
        </div>
        <div class="right-list" >
            <div class="list-top">
                <p style="font-size: 22px;color:#232323;font-weight: bold;line-height: 50px;">医患友好</p>
                <br>
                <p style="font-size: 14px; line-height: 24px;text-indent:30px;">医院随访系统，通过整合医院HIS数据，建立了患者与医院的有效沟通和反馈体系，推动了和谐的医患关系的建立。系统可以让医院随访人员有计划地对出院病人和门诊病人进行随访，了解患者的康复情况；也可以根据防疫和治疗的不同需求，对某些特殊病种病人进行具有针对性的跟踪随访，跟踪出院后的治疗效果，从而加强对病情的控制。
                    相关数据可以为医院各级管理人员提供整体医疗效果信息，为医院持续改进工作质量和科研工作的开展提供重要参考依据和数据支持。</p>
            </div>
            <div class="list-middle" style="height:300px;">
                <p style="font-size: 16px;color:#232323;font-weight: bold;">医患关系解决方案系统构架图</p>
                <div class="access-img">
                    <img src="../image/three.png" alt="" style="margin-left:-100px;margin-top:100px;">
                </div>
            </div>
            <div class="hand-product" >
                <span style="font-size: 16px;color:#232323;font-weight: bold;line-height: 50px;">健康CRM系统</span>
                <p style="line-height: 50px;font-size: 14px;color:#232323;">支持单体医院使用，也支持多医院共同使用，并可灵活设置。</p>
                <p style="line-height: 50px;font-size: 14px;color:#232323;">包括区域版、医院版和社区医院版等不同版本，满足不同客户的多样需求。</p>
                <p style="line-height: 50px;font-size: 14px;color:#232323;">良好的架构设计，强有力地保证系统和数据的安全。</p>
            </div>

        </div>
    </div>
</div>
{% include "../public/footer.html" %}