{% include "../public/header.html" %}
<script type="text/javascript">
    $(".nav-right li").eq(0).removeClass("coe");
    $(".nav-right li").eq(4).addClass("coe");
</script>
<div class="banners" style="background: url(../image/qiyejieshaobanner.png);background-position:60%;">
</div>
<div class="content" style="height:1800px;">
    <div class="cons">
        <div class="left-list">
            <a href="intro.html" style="background: #2B76D0;color:#fff;">企业介绍</a>
            <a href="call.html" >联系我们</a>
            <a href="adver.html" >人才招聘</a>
        </div>
        <div class="right-list" >
            <div class="list-top">
                <p style="font-size: 22px;color:#232323;font-weight: bold;line-height: 50px;">企业介绍</p>
            </div>
            <br>
            <div class="intro-con">
                <img src="../image/intro1.png" alt="">
            </div>
            <div class="intro-con" style="box-sizing: border-box;padding:20px 20px;">
                <br>
              <p>战略定位</p>
                <h1>STRATEGIC  POSITIONING</h1>
                <div class="intro-text">
                   <p style="line-height: 24px;font-size: 14px;">国内领先的“互联网医院”整体解决方案提供商和运营商</p>
                </div>
            </div>
            <div class="intro-con" style="box-sizing: border-box;padding:20px 20px;">
                <br>
                <p>价值观</p>
                <h1>VALUES</h1>
                <div class="intro-text">
                    <p style="line-height: 24px;font-size: 14px;">国内领先的“互联网医院”整体解决方案提供商和运营商</p>
                </div>
            </div>
            <div class="intro-con">
                <img src="../image/intro2.png" alt="">
            </div>
            <div class="intro-con">
                <img src="../image/intro3.png" alt="">
            </div>
            <div class="intro-con" style="box-sizing: border-box;padding:20px 20px;">
                <br>
                <p>公司使命</p>
                <h1>THE COMPANY MISSION</h1>
                <div class="intro-text">
                    <p style="line-height: 24px;font-size: 14px;">国内领先的“互联网医院”整体解决方案提供商和运营商</p>
                </div>
            </div>
            <div class="intro-history">
                <p style="font-size: 18px;color:#232323;font-weight: bold;">发展历程</p>
                <img src="../image/rocket.png" alt="">
            </div>
        </div>
    </div>
</div>
{% include "../public/footer.html" %}